body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  margin-right: 16px;
    padding: 4px 16px;

  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
          box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  color: #ffffff;
  background-color: #fff;
}

.logo {
  position: absolute;
  top: 0;
  right: 690px;
  z-index: 10;
  width: 138px;
  height: 70px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1060px;
  margin: 0;
  padding: 0;
  margin-left: 4px;
  margin-top: 15px;
  line-height: 26px;
  font-weight: bold;
  list-style: none;
}

.site-navigation li:nth-child(2) {
  margin-right: 88px;
}

.site-navigation .site-navigation-active  {
  color: #766357;
}

.site-navigation .site-navigation-active:hover,
.site-navigation .site-navigation-active:active {
  color: #000;
  opacity: 0.3;
}

.site-navigation a {
  color: #000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000;
  opacity: 0.3;
}

.intro {
  position: relative;
  content: "";
  width: 1200px;
  height: 510px;
  background-image: url("../img/scenery.png");
  background-repeat: no-repeat;
  background-position: 0 21%;
}

.intro::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 1200px;
  height: 57px;
  color: #fff;
  background-image: url("../img/stripe.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.intro .sprites {
  width: 460px;
  height: 352px;
  margin-left: 370px;
  margin-top: 76px;
}

.info {
  display: inline-block;
  width: 100%;
  min-height: 214px;
  background-color: #fff;
}

.info p {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 26px;
  color: #000;
  background-color: #fff;
}

.info .info-text {
  margin-top: 60px;
  font-weight: bold;
  font-size: 21px;
}

.info .info-text-two {
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 21px;
}

.real-town {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 256px;
}

.real-town-blue {
  width: 400px;
  height: 256px;
  color: #fff;
  background-color: #81b3d2;
}

.real-town-blue h2 {
  margin-top: 48px;
  margin-bottom: 24px;
  padding: 0 120px;
  font-size: 21px;
  text-align: center;
}

.real-town-blue span {
  display: block;
  margin-bottom: 22px;
  text-align: center;
}

.real-town-blue p {
  margin: 0;
  padding: 0;
  margin-left: 48px;
}

.real-town-blue .real-town-blue-text {
  margin-left: 138px;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 330px;
  background-color: #fff;

}

.service-item h2 {
  margin: 0;
  padding: 0;
  margin-top: 162px;
  font-size: 21px;
  font-weight: bold;
}

.service .service-house {
  position: relative;
  margin-left: 110px;
  margin-bottom: 24px;
}

.service .service-house::before {
  content: "";
  position: absolute;
  top: -101px;
  right: 128px;
  width: 75px;
  height: 72px;
  background-image: url("../img/house.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service .service-food {
  position: relative;
  margin-left: 103px;
  margin-bottom: 24px;
}

.service .service-food::before {
  content: "";
  position: absolute;
  top: -100px;
  right: 126px;
  width: 75px;
  height: 72px;
  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service .service-gift {
  position: relative;
  margin-left: 76px;
  margin-bottom: 24px;
}

.service .service-gift::before {
  content: "";
  position: absolute;
  top: -105px;
  right: 112px;
  width: 64px;
  height: 76px;
  background-image: url("../img/gift.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service p {
  margin: 0;
  padding: 0;
}

.service .service-text {
  margin-left: 88px;
}

.service .service-text-food {
  margin-left: 46px;
}

.service .service-text-gift {
  margin-left: 74px;
}

.panorama {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 256px;
}

.panorama-blue {
  width: 400px;
  height: 256px;
  color: #fff;
  background-color: #81b3d2;
}

.panorama-blue h2 {
  margin-top: 48px;
  margin-bottom: 24px;
  padding: 0 120px;
  font-size: 21px;
  text-align: center;
}

.panorama-blue span {
  display: block;
  margin-bottom: 22px;
  text-align: center;
}

.panorama-blue p {
  margin: 0;
  padding: 0;
  margin-left: 48px;
}

.panorama-blue .panorama-blue-text {
  margin-left: 138px;
}

.info-gray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 256px;
  text-align: center;
}

.info-gray-item h2 {
  width: 160px;
  margin: 0;
  padding: 0;
  margin-left: 119px;
  margin-top: 48px;
  font-size: 21px;
  font-weight: bold;
}

.info-gray-item .info-gray-item-area {
  padding-right: 123px;
  margin-bottom: 24px;
}

.info-gray-item .info-gray-item-road {
  padding-right: 120px;
  margin-bottom: 24px;
}

.info-gray-four {
  margin-bottom: 22px;
}

.info-gray-five {
  margin-left: 65px;
  margin-top: 2px;
}

.info-gray-item span {
  display: block;
  padding-bottom: 22px;
}

.info-gray-item .info-gray-text {
  margin-left: 71px;
  margin-top: 22px;
}

.info-gray-item .info-gray-text-two {
  margin-left: 71px;
}

.info-gray-item p {
  margin: 0;
  padding: 0;
}

.info-gray-item .info-gray-item-visitor {
  padding-bottom: 22px;
}

.interested {
  height: 290px;
  display: block;
  padding-top: 4px;
  color: #000;
  background-color: #fff;
  text-align: center;
}

.interested h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.interested p {
  margin: 0;
  padding: 0;
  line-height: 24px;
}

.interested a {
  display: inline-block;
  margin-top: 70px;
  padding-top: 30px;
  padding-bottom: 31px;
  padding-left: 137px;
  padding-right: 137px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
  border: none;
  font-size: 21px;
  line-height: 26px;
}

.interested a:hover {
  background-color: #604e43;
}

.interested a:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.filters {
  content: "";
  width: 1200px;
  height: 218px;
  margin-bottom: 18px;
  background-image: url("../img/filter-fon.jpg");
  background-repeat: no-repeat;
  background-position: 0 21%;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 54px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter legend {
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  list-style: none;
}

.filter ul {
  margin: 0;
  padding: 0;
  color: #fff;
  list-style: none;
}

.filter .filter-infrastructure {
  margin-right: 108px;
}

.filter-infrastructure li {
  margin-bottom: 25px;
  margin-left: 58px
}

.filter .filter-house {
  margin-right: 347px;
}

.filter-house li {
  margin-bottom: 25px;
  margin-left: 42px;
}

.filter .infrastructure {
  padding-top: 29px;
  margin-left: 19px;
  margin-right: 5px;
  margin-bottom: 24px;
}

.filter .type-house {
  padding-top: 29px;
  margin-left: 0;
  margin-bottom: 24px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -40px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter input[type="checkbox"] + label:hover::before {
  opacity: 0.6;
}

.filter input[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter input[type="checkbox"]:checked + label:hover::before {
  opacity: 0.6;
}

.filter-cost {
  padding-top: 28px;
}

.filter-cost .filter-price {
  margin-bottom: 10px;
}

.range-filter {
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 318px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 21px;
  color: #fff;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.min-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 34px;
  height: 21px;
  margin-left: 65px;
  padding-right: 58px;
}

.max-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 34px;
  height: 21px;
}

.price-controls input {
  width: 65px;
  padding-right: 10px;
  color: inherit;
  font: inherit;
  border: none;
  background: none;
}

.price-controls-line {
  display: inline-block;
  width: 2px;
  height: 22px;
  margin-right: 53px;
  vertical-align: middle;
  background: #fff;
}

.scale {
  position: relative;
  height: 2px;
  background: #d7dcde;
}

.scale .bar {
  width: 90%;
  height: 2px;
  background-color: #fff;
}

.toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
}

.toggle-min {
  left: 1px;
}

.toggle-max {
  left: 253px;
}

.filter .filter-button {
  display: inline-block;
  padding-top: 5px;
  margin-top: -62px;
  margin-left: 841px;
  width: 137px;
  height: 37px;

  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid #fff;
  outline: 0;
}

.filter .filter-button:hover,
.filter .filter-button:active {
  color: #000;
  background-color: #fff;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}

.sort {
  display: block;
  margin-top: 10px;
  margin-left: 71px;
  margin-right: 49px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.sorting-list span {
  display: block;
  padding-right: 40px;
}

.sorting-item-price a {
  color: #81b3d2;
  padding-right: 32px;
}

.sorting-item-type a {
  margin-right: 33px;
  color: #000;
  opacity: 0.3;
  border-bottom: 1px dashed #81b3d2;
}

.sorting-item-type a:hover,
.sorting-item-rating a:hover {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
  opacity: 1;
}

.sorting-item-type a:active,
.sorting-item-rating a:active {
  color: #000;
  border: none;
}

.sorting-item-rating a {
  margin-right: 200px;
  color: #000;
  opacity: 0.3;
  border-bottom: 1px dashed #81b3d2;
}

.sorting-up-active {
  position: relative;
}

.sorting-up-active::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 304px;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.sorting-up-active:hover::before {
  width: 11px;
  height: 10px;
  top: 4px;
  right: 304px;
  background-image: url("../img/icon-up-dir.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.sorting-up-active:active::before {
  width: 11px;
  height: 10px;
  top: 4px;
  right: 304px;
  background-image: url("../img/up-dir-blue.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.sorting-down {
  position: relative;
}

.sorting-down::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 327px;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sorting-down:hover::before {
  width: 11px;
  height: 10px;
  top: 4px;
  right: 304px;
  background-image: url("../img/icon-down-dir.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.sorting-down:active::before {
  width: 11px;
  height: 10px;
  top: 4px;
  right: 304px;
  background-image: url("../img/down-dir-blue.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.hotel-amara {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
  border-top: 1px solid #e5e5e5;
  margin-bottom: 24px;
}

.hotel-amara-img {
  margin-right: 31px;
  margin-left: 72px;
}

.hotel-amara-details {
  width: 780px;
  margin-top: -6px;
}

.hotel-amara-text a {
  display: block;
  margin-bottom: 9px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.hotel-amara-text a:hover {
  color: #81b3d2;
}

.hotel-amara-text a:active {
  color: #000;
  opacity: 0.3;
}

.hotel-amara-info p {
  margin: 0;
  padding: 0;
  margin-right: 38px;
}

.hotel-amara-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13px;
}

.hotel-amara-more {
  display: inline-block;
  margin-right: 2px;
  padding: 4px 16px;

  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.hotel-amara-more:hover {
  background-color: #669ec0;
}

.hotel-amara-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
}

.hotel-amara-book {
  display: inline-block;
  padding: 4px 18px;

  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.hotel-amara-book:hover {
  background-color: #604e43;
}

.hotel-amara-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3)
}

.hotel-amara-rating ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.hotel-amara-rating ul::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 20px;
  width: 90px;
  height: 17px;
  background-image: url("../img/four-star.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.hotel-amara-rating span {
  display: block;
  margin-top: 49px;
  background-color: #f2f2f2;
  padding: 4px 14px;
}

.hotel-desert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
  border-top: 1px solid #e5e5e5;
  margin-bottom: 24px;
}

.hotel-desert-img {
  margin-right: 31px;
  margin-left: 72px;
}

.hotel-desert-details {
  width: 780px;
  margin-top: -6px;
}

.hotel-desert-text a {
  display: block;
  margin-bottom: 9px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.hotel-desert-text a:hover {
  color: #81b3d2;
}

.hotel-desert-text a:active {
  color: #000;
  opacity: 0.3;
}

.hotel-desert-info p {
  margin: 0;
  padding: 0;
  margin-right: 63px;
}

.hotel-desert-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13px;
}

.hotel-desert-more {
  display: inline-block;
  margin-right: 2px;
  padding: 4px 16px;

  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.hotel-desert-more:hover {
  background-color: #669ec0;
}

.hotel-desert-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
}

.hotel-desert-book {
  display: inline-block;
  padding: 4px 18px;

  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.hotel-desert-book:hover {
  background-color: #604e43;
}

.hotel-desert-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3)
}

.hotel-desert-rating ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.hotel-desert-rating ul::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 45px;
  width: 90px;
  height: 17px;
  background-image: url("../img/three-star.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.hotel-desert-rating span {
  display: block;
  margin-top: 49px;
  background-color: #f2f2f2;
  padding: 4px 14px;
}

.hotel-villas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 26px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-villas-img {
  margin-right: 31px;
  margin-left: 72px;
}

.hotel-villas-details {
  width: 780px;
  margin-top: -6px;
}

.hotel-villas-text a {
  display: block;
  margin-bottom: 9px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.hotel-villas-text a:hover {
  color: #81b3d2;
}

.hotel-villas-text a:active {
  color: #000;
  opacity: 0.3;
}

.hotel-villas-info p {
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.hotel-villas-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13px;
}

.hotel-villas-more {
  display: inline-block;
  margin-right: 2px;
  padding: 4px 16px;

  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.hotel-villas-more:hover {
  background-color: #669ec0;
}

.hotel-villas-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
}

.hotel-villas-book {
  display: inline-block;
  padding: 4px 18px;

  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.hotel-villas-book:hover {
  background-color: #604e43;
}

.hotel-villas-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3)
}

.hotel-villas-rating ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.hotel-villas-rating ul::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 70px;
  width: 90px;
  height: 17px;
  background-image: url("../img/two-star.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.hotel-villas-rating span {
  display: block;
  margin-top: 49px;
  background-color: #f2f2f2;
  padding: 4px 14px;
}


.map iframe {
  width: 1200px;
  height: 594px;
  border: 0;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }

  70% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }

  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }

  70% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }

  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.booking-form {
  position: absolute;
  top: 0;
  right: 317px;
  width: 567px;
  display: none;
  height: 394px;
  color: #000;
  line-height: 26px;
  font-weight: bold;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px 0 #d4d2d2;
          box-shadow: 0 2px 5px 0 #d4d2d2;
}

.in-row input:hover {
  background-color: #000;
}

.form-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.booking-form input[type=text] {
  font: inherit;
  width: 310px;
  height: 22px;
  padding-top: 9px;
  padding-bottom: 8px;
  background-color: #f2f2f2;
  outline: none;
  border: none;
  line-height: 26px;
  font-weight: 700;
}

.booking-form input[type=text]:hover {
  background-color: #ebebeb;
}

.booking-form input[type=text]:focus {
  background-color: #fff;
  border: 2px solid #e5e5e5;
}

.in-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.calendar-in::before {
  content: "";
  position: absolute;
  top: 61px;
  right: 64px;
  width: 21px;
  height: 22px;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.calendar-in:hover::before {
  opacity: 1;
}

.calendar-in:active::before {
  width: 21px;
  height: 22px;
  top: 61px;
  right: 64px;
  background-image: url("../img/calendar-blue.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.in-row label {
  display: block;
  margin-top: 60px;
  margin-left: 55px;
  margin-right: 22px;
  margin-bottom: 42px;
}

.in-row input[type=text] {
  margin-top: 52px;
  margin-bottom: 39px;
  padding-left: 4px;
  padding-right: 34px;
}

.out-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calendar-out::before {
  content: "";
  position: absolute;
  top: 128px;
  right: 63px;
  width: 21px;
  height: 22px;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.calendar-out:hover::before {
  opacity: 1;
}

.calendar-out:active::before {
  width: 21px;
  height: 22px;
  top: 128px;
  right: 63px;
  background-image: url("../img/calendar-blue.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1
}


.out-row input[type=text] {
  margin-top: -10px;
  margin-left: 17px;
  padding-left: 4px;
  padding-right: 34px;
}

.out-row label {
  display: block;
  margin-left: 53px;
  margin-bottom: 40px;
  margin-top: -2px;
}

.adults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.minus-adults::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 180px;
  width: 12px;
  height: 3px;
  background-image: url("../img/minus.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.plus-adults::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 67px;
  width: 11px;
  height: 11px;
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.minus-adults:hover::before,
.plus-adults:hover::after {
  opacity: 1;
}

.minus-adults:active::before {
  top: 12px;
  left: 180px;
  width: 12px;
  height: 3px;
  background-image: url("../img/minus-blue.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.plus-adults:active::after {
  top: 8px;
  right: 67px;
  width: 11px;
  height: 11px;
  background-image: url("../img/plus-blue.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.adults label {
  margin-left: 55px;
}

.adults input[type=text] {
  width: 30px;
  margin-top: -7px;
  margin-left: 40px;
  padding-left: 54px;
  padding-right: 30px;
  margin-right: 53px;
}

.tourist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kids {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.minus-kids::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 79px;
  width: 12px;
  height: 3px;
  background-image: url("../img/minus.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.plus-kids::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 11px;
  width: 11px;
  height: 11px;
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.minus-kids:hover::after,
.plus-kids:hover::before {
  opacity: 1;
}

.minus-kids:active::after {
  top: 13px;
  left: 79px;
  width: 12px;
  height: 3px;
  background-image: url("../img/minus-blue.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1
}

.plus-kids:active::before {
  width: 11px;
  height: 11px;
  top: 8px;
  right: 11px;
  background-image: url("../img/plus-blue.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1
}

.kids label {
  display: block;
  margin-right: 22px;
}

.kids input[type=text] {
  width: 30px;
  padding-left: 51px;
  padding-right: 31px;
  margin-top: -6px;
}

.form-button {
  display: inline-block;
  margin-top: 54px;
  margin-left: 54px;
  padding: 16px 196px;

  font: inherit;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.form-button:hover {
  background-color: #669ec0;
}

.form-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  position: relative;
}

.map .main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 1200px;
  min-height: 128px;
  bottom: 0;
  background: rgba(254,254,254,.9);
}

.inner-page .main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  height: 128px;
  background: rgba(254,254,254,.9);
}

.inner-page .refer a {
  position: relative;
  display: block;
  width: 222px;
  margin-top: 45px;
  color: #000;
  font-size: 21px;
  margin-left: 134px;
  padding-right: 165px;
  line-height: 26px;
}

.inner-page .footer-social {
  position: relative;
}

.inner-page .social-button-twitter::after {
  content: "";
  position: absolute;
  top: 52px;
  left: 18px;
  width: 17px;
  height: 15px;
  background-image: url("../img/twitter.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.inner-page .social-button-facebook::before {
  content: "";
  position: absolute;
  top: 49px;
  left: 73px;
  width: 12px;
  height: 22px;
  background-image: url("../img/facebook.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-page .social-button-youtube::before {
  content: "";
  position: absolute;
  top: 49px;
  left: 120px;
  width: 20px;
  height: 16px;
  background-image: url("../img/youtube.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-page .social-button:hover {
  background-color: #669ec0;
}

.inner-page .social-button-twitter:active::after {
  background-color: #5496bd;
  opacity: 0.3;
}

.inner-page .social-button-facebook:active::before {
  background-color: #5496bd;
  opacity: 0.3;
}

.inner-page .social-button-youtube:active::before {
  background-color: #5496bd;
  opacity: 0.3;
}

.refer a {
  display: block;
  width: 222px;
  margin-top: 45px;
  color: #000;
  font-size: 21px;
  margin-left: 134px;
  padding-right: 165px;
  line-height: 26px;
}

.footer-social {
  width: 155px;
  padding-right: 227px;
  text-align: center;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 151px;
  margin: 0 auto;
  padding: 0;
  margin-top: 35px;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button-twitter::after {
  content: "";
  position: absolute;
  top: 52px;
  left: 538px;
  width: 17px;
  height: 15px;
  background-image: url("../img/twitter.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-button-facebook::before {
  content: "";
  position: absolute;
  top: 48px;
  right: 595px;
  width: 12px;
  height: 22px;
  background-image: url("../img/facebook.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-button-youtube::before {
  content: "";
  position: absolute;
  top: 52px;
  right: 539px;
  width: 20px;
  height: 16px;
  background-image: url("../img/youtube.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button-twitter:active::after {
  background-color: #5496bd;
  opacity: 0.3;
}

.social-button-facebook:active::before {
  background-color: #5496bd;
  opacity: 0.3;
}

.social-button-youtube:active::before {
  background-color: #5496bd;
  opacity: 0.3;
}

.copyright-info span {
  display: block;
  margin-top: 46px;
  color: #000;
  line-height: 26px;
}

.copyright-info {
  position: relative;
}

.inner-page .copyright-info {
  position: relative;
}

.inner-page .copyright-info a::before {
  content: "";
  position: absolute;
  top: 38px;
  right: 3px;
  width: 115px;
  height: 41px;
  background-image: url("../img/logo-name.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-page .copyright-info a:hover::before {
  top: 38px;
  right: 3px;
  width: 115px;
  height: 41px;
  background-image: url("../img/logo-name-blue.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-page .copyright-info a:active::before {
  top: 38px;
  right: 3px;
  width: 115px;
  height: 41px;
  background-image: url("../img/logo-name-gray.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.copyright-info a::before {
  content: "";
  position: absolute;
  bottom: 48px;
  left: 80px;
  width: 115px;
  height: 41px;
  background-image: url("../img/logo-name.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.copyright-info a:hover::before {
  width: 115px;
  height: 41px;
  bottom: 48px;
  left: 80px;
  background-image: url("../img/logo-name-blue.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.copyright-info a:active::before {
  width: 115px;
  height: 41px;
  bottom: 48px;
  left: 80px;
  background-image: url("../img/logo-name-gray.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
